# .yamllint
extends: default

rules:
  # Minecraft configs have massive comment lines so we'll ignore it.
  line-length: disable
  # Minecraft configs often omit the "---" start.
  document-start: disable
  # Trailing spaces happen when you hit enter in a config so we'll ignore them.
  trailing-spaces: disable
  # Keep indentation checking but make it less aggressive if needed.
  indentation:
    indent-sequences: consistent